$linkColor: #fff;

// * {
//     display: flex;
// }

.avaS {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: $linkColor;
    &:hover {
        color: gold;
    }
}

.none_dec {
    color: $linkColor;
    &:hover {
        color: #fff;
    }
}

.blogpost_wrapper {
    display: flex;
    margin: 0;
}